<html>
<head>
  <title>Shoe Store Database</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
  <div class='container'>
    <h1>Welcome to the Shoe Store Database</h1>
  </div>
  <div class='container'>
    <h3><a href="/stores">Add or view a Shoe Store</a></h3>
    <h3><a href="/brands">Add or view our Brands</a></h3>
  </div>
</body>
</html>
